* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	scroll-behavior: smooth;
}

:root {
	--secondary-blue: #3bdcdc;
	--primary-blue: #217cd9;
	--text-blue: #0d3858;
	--green: #2eb694;
	--span: #e96c22;
	--cta: #bc8d17;
	--yellow: #f9f871;
}
